<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>1.jpg</string>
		<key>title</key>
		<string>你们呀</string>
		<key>detail</key>
		<string>有人</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2.jpg</string>
		<key>title</key>
		<string>不要想</string>
		<key>detail</key>
		<string>说我的</string>
	</dict>
	<dict>
		<key>image</key>
		<string>3.jpg</string>
		<key>title</key>
		<string>搞个</string>
		<key>detail</key>
		<string>儿子</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4.jpg</string>
		<key>title</key>
		<string>大新闻</string>
		<key>detail</key>
		<string>在外面</string>
	</dict>
	<dict>
		<key>image</key>
		<string>5.jpg</string>
		<key>title</key>
		<string>说现在</string>
		<key>detail</key>
		<string>开什么</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.jpg</string>
		<key>title</key>
		<string>已经</string>
		<key>detail</key>
		<string>红色</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.jpg</string>
		<key>title</key>
		<string>钦定啦</string>
		<key>detail</key>
		<string>法拉利</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2.jpg</string>
		<key>title</key>
		<string>就把我</string>
		<key>detail</key>
		<string>一派胡言</string>
	</dict>
	<dict>
		<key>image</key>
		<string>3.jpg</string>
		<key>title</key>
		<string>批判</string>
		<key>detail</key>
		<string>！</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4.jpg</string>
		<key>title</key>
		<string>一番</string>
		<key>detail</key>
		<string>现在的</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2.jpg</string>
		<key>title</key>
		<string>你们呀</string>
		<key>detail</key>
		<string>年轻人</string>
	</dict>
	<dict>
		<key>image</key>
		<string>5.jpg</string>
		<key>title</key>
		<string>Naive ！</string>
		<key>detail</key>
		<string>都是</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4.jpg</string>
		<key>title</key>
		<string>I&apos;m angry ！</string>
		<key>detail</key>
		<string>靡靡之音</string>
	</dict>
	<dict>
		<key>image</key>
		<string>3.jpg</string>
		<key>title</key>
		<string>你们这样</string>
		<key>detail</key>
		<string>都是</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2.jpg</string>
		<key>title</key>
		<string>是不行的</string>
		<key>detail</key>
		<string>轻歌曼舞</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.jpg</string>
		<key>title</key>
		<string>！</string>
		<key>detail</key>
		<string>呀</string>
	</dict>
</array>
</plist>
