<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>1.jpg</string>
		<key>title</key>
		<string>演员</string>
		<key>detail</key>
		<string>薛之谦</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2.jpg</string>
		<key>title</key>
		<string>多幸运</string>
		<key>detail</key>
		<string>韩安旭</string>
	</dict>
	<dict>
		<key>image</key>
		<string>3.jpg</string>
		<key>title</key>
		<string>刚刚好</string>
		<key>detail</key>
		<string>薛之谦</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4.jpg</string>
		<key>title</key>
		<string>IF YOU</string>
		<key>detail</key>
		<string>BIGBANG</string>
	</dict>
	<dict>
		<key>image</key>
		<string>5.jpg</string>
		<key>title</key>
		<string>李白</string>
		<key>detail</key>
		<string>李荣浩</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.jpg</string>
		<key>title</key>
		<string>一次就好</string>
		<key>detail</key>
		<string>杨宗纬</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.jpg</string>
		<key>title</key>
		<string>我们不该这样的</string>
		<key>detail</key>
		<string>张赫宣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2.jpg</string>
		<key>title</key>
		<string>平凡之路</string>
		<key>detail</key>
		<string>朴树</string>
	</dict>
	<dict>
		<key>image</key>
		<string>3.jpg</string>
		<key>title</key>
		<string>默</string>
		<key>detail</key>
		<string>那英</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4.jpg</string>
		<key>title</key>
		<string>See You Again</string>
		<key>detail</key>
		<string>Wi Khlifa</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2.jpg</string>
		<key>title</key>
		<string>走着走着就散了</string>
		<key>detail</key>
		<string>庄心妍</string>
	</dict>
	<dict>
		<key>image</key>
		<string>5.jpg</string>
		<key>title</key>
		<string>一半</string>
		<key>detail</key>
		<string>薛之谦</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4.jpg</string>
		<key>title</key>
		<string>模特</string>
		<key>detail</key>
		<string>李荣浩</string>
	</dict>
	<dict>
		<key>image</key>
		<string>3.jpg</string>
		<key>title</key>
		<string>不说再见</string>
		<key>detail</key>
		<string>好妹妹乐队</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2.jpg</string>
		<key>title</key>
		<string>入戏太深</string>
		<key>detail</key>
		<string>马旭东</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.jpg</string>
		<key>title</key>
		<string>暗香</string>
		<key>detail</key>
		<string>沙宝亮</string>
	</dict>
</array>
</plist>
